./api/node_modules
./api/converage
./api/build
./api/dist
./api/dist/*
!api/dist/*.html


./client/node_modules
./client/converage
./client/build
./client/dist
./client/dist/*


./company
./event
./patient
./request
./tests