$color_1: #555;
$color_2: #333;
$color_3: #fff;
$color_4: #cf711f;
$font-family_1: "Rubik", sans-serif;
$font-family_2: inherit;
$background-color_1: #fdf2e9;
$background-color_2: #e67e22;
$background-color_3: #fff;
$background-color_4: #cf711f;

.toolBar-section {
  .logo-label {
    font-size: large;
  }

  Button {
    font-size: large;
    mx: 1;
    color: "#fff";
  }
}
